body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

.btn {
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 10px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

header #brand {
    float: left;
}

header #brand h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes {
    margin-top: 20px;
}

.box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.box h3 {
    height: 40px;
}

#boxes .box img {
    width: 90px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 65%;
}

.services li {
    list-style-type: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e7e6;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/**

Responsive design for screens less than 750px wide
*/
@media (max-width: 768px) {
    header #brand, header nav, header li {
        width: 100%;
        float: none;
        text-align: center;
    }

    header {
        padding: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter h1, #newsletter form {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter form button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea  {
        width: 100%;
        margin-bottom: 5px;
    }

    .box, article#main-col, aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
}